.vscode/c_cpp_properties.json
.vscode/settings.json
input/.DS_Store
src/gxl_lib/.DS_Store
src/.DS_Store
.DS_Store
input/monitor_blocks.txt
input/monitor_points.txt
input/boundary_condition/boundary   0.txt
input/boundary_condition/inner   0.txt
input/boundary_condition/parallel   0.txt
input/chemistry/air.inp
input/chemistry/H2_mech_mixing.inp
input/chemistry/H2_mech ok.inp
input/chemistry/therm.dat
input/chemistry/tran.dat
input/grid/grid   0.dat
cmake-build-debug-visual-studio/*
cmake-build-release-visual-studio/*
corefl.exe
corefl.ilk
corefl.pdb
history.dat
.gitignore
output/flowfield.plt
output/message/reference_state.txt
output/message/residual_scale.txt
input/setup-11.txt
